---
import ExperienceItem from '../components/ExperienceItem.astro';
import ProjectItem from '../components/ProjectItem.astro';
import Section from '../components/Section.astro';
import SendEmailBtn from '../components/SendEmailBtn.astro';
import SkillsList from '../components/SkillsList.astro';
import Layout from '../layouts/Layout.astro';

import IconLinkedIn from '../assets/icons/linkedin.svg';
import IconGitHub from '../assets/icons/github.svg';
import IconCodepen from '../assets/icons/codepen.svg';

import miruImage from '../assets/images/miru.png';
import mybayImage from '../assets/images/mybay.png';
import qhLivingImage from '../assets/images/qh-living.png';
import teleclapImage from '../assets/images/teleclap.png';
import flexGalleryImage from '../assets/images/flex-gallery.png';
import threeyourmindImage from '../assets/images/3yourmind.png';

const title = 'Florian Strasser - Frontend Development & Web Design Portfolio';
---

<Layout {title}>
  <Section id="about" title="About" renderTitle={false}>
    <h1 class="mb-8 grid text-4xl sm:mb-16 sm:text-6xl md:text-8xl">
      <span class="text-xl sm:text-2xl">Hello, I'm</span>
      <span class="text-bg-gradient">Florian Strasser.</span>
      <span>I make websites.</span>
    </h1>

    <p class="mb-6 max-w-2xl leading-relaxed sm:text-xl">
      I’m a multi-disciplinary
      <strong class="text-white">frontend developer</strong> & <strong
        class="text-white">web designer</strong
      > with a keen eye for details. I focus on fast and accessible web experiences.
    </p>

    <p class="mb-4 max-w-2xl leading-relaxed sm:text-xl">
      I have worked as a web &
      <strong class="text-white">graphic designer</strong> at 3YOURMIND, then shifted
      my focus to
      <strong class="text-white">web development</strong>. At Allod MediaC2, I
      was leading the design and development of websites for customers like
      Reggeborgh, Taurecon, and Groth Gruppe.
    </p>

    <div class="space-y-4">
      <a
        href="/#projects"
        class="btn mr-4 border-transparent bg-gradient-to-tr from-purple to-tangerine text-purple-dark hover:from-purple hover:to-blue hover:text-white"
        >View Projects</a
      >
      <!-- <a href="/CV_Florian_Strasser.pdf" class="btn" target="_blank">
        <span>Download CV</span>
        <IconDownload />
      </a> -->
    </div>
  </Section>

  <Section id="skills" title="Skills & Tools">
    <SkillsList
      skills={[
        ['TypeScript', 'HTML/CSS', 'SCSS', 'C#/.NET Core'],
        ['React', 'Tailwind CSS', 'Eleventy', 'Bootstrap'],
        ['Git', 'npm', 'Webpack'],
        ['VS Code', 'Figma', 'Adobe CC'],
      ]}
    />
  </Section>

  <Section id="experience" title="Experience">
    <div>
      <ExperienceItem
        title="Frontend Developer @ BITGRIP"
        date="2022 - Present"
        location="Berlin, Germany"
        list={[
          'Working on web-apps including online shops for clients in the industrial sector.',
          'Using frameworks, languages and tools such as Next.js, React, TypeScript and SCSS.',
        ]}
      />
      <ExperienceItem
        title="Frontend Developer & Web Designer @ Allod MediaC2"
        date="2019 - 2021"
        location="Berlin, Germany"
        list={[
          'Led several web projects from design to implementation, including wireframing & prototyping, UX design, frontend and .NET development.',
          'Worked with a variety of languages, frameworks, and tools such as JavaScript, SCSS, C#/.NET, Eleventy, Bootstrap, Tailwind CSS, and Webpack.',
          'Communicated with various stakeholders from backend development, graphic design, and clients on a daily basis.',
        ]}
      />
      <ExperienceItem
        title="Graphic & Web Designer @ 3YOURMIND"
        date="2016 - 2018"
        location="Berlin, Germany"
        list={[
          'Organized design sprints and allocated design tasks in the team. Responsible for branding and online/offline marketing materials.',
          'Created icons, graphics, mockups, wireframes, and landing pages with Adobe CC, HTML, CSS, and JavaScript.',
          'Developed a custom HubSpot CMS theme and created templates in Django for the development team.',
        ]}
      />
      <ExperienceItem
        title="Design Intern @ 3YOURMIND"
        date="2016"
        location="Berlin, Germany"
        list={[
          'Created various online/offline marketing materials, icons, graphics, mockups, wireframes, and landing pages with Adobe CC, HTML, CSS, and JavaScript.',
        ]}
      />
    </div>
  </Section>
  <Section id="projects" title="Projects">
    <div class="grid gap-8">
      <ProjectItem
        isFeatured
        className="bg-miru"
        title="MIRU"
        description="MIRU is a website for a real estate project in Potsdam for which I developed a custom data-table and range-slider implementation."
        technologies={['Tailwind CSS', 'Eleventy']}
        link="https://www.miru-potsdam.de"
        linkText="View Website"
        image={miruImage}
        imageAlt="Screenshots of the MIRU website"
      />

      <ProjectItem
        className="bg-mybay"
        title="MY BAY"
        description="MY BAY is a multi-language website with an interactive floor search and personalized content."
        technologies={['Bootstrap', '.NET Core']}
        link="https://www.mybay-berlin.de"
        linkText="View Website"
        image={mybayImage}
        imageAlt="Screenshots of the MY BAY website"
      />

      <ProjectItem
        detailsFirst
        imageAlign="bottom"
        className="bg-qhliving"
        title="QH-LIVING"
        description="QH-LIVING is a colorful multi-language real estate marketing website with extensive use of CSS grid."
        technologies={['Bootstrap', '.NET Core']}
        link="https://www.qh-living.de"
        linkText="View Website"
        image={qhLivingImage}
        imageAlt="Screenshots of the QH-LIVING website"
      />

      <ProjectItem
        imageAlign="bottom"
        className="bg-teleclap"
        title="TeleClap"
        description="A side-project created together with friends. I was working on branding, web design, and front-end development."
        technologies={['Vue.js']}
        link="https://www.teleclap.com"
        linkText="View Website"
        image={teleclapImage}
        imageAlt="Screenshots of the TeleClap web app"
      />

      <ProjectItem
        detailsFirst
        className="bg-flexgallery"
        title="flex-gallery"
        description="Flex-Gallery is an open-source responsive lightbox gallery with flexbox and progressive image loading written in JavaScript and SCSS."
        technologies={['flexbox', 'progressive image loading']}
        link="https://github.com/flostrasser/flex-gallery"
        linkText="View Repository"
        image={flexGalleryImage}
        imageAlt="Screenshots of the flex-gallery project"
      />

      <ProjectItem
        imageAlign="bottom"
        className="bg-threeyourmind"
        title="3YOURMIND"
        description="At my first full-time job, I led a major redesign and the development of their marketing website."
        technologies={['Bootstrap', 'HubSpot CMS']}
        link="https://www.3yourmind.com"
        linkText="View Website"
        image={threeyourmindImage}
        imageAlt="Screenshots of the 3YOURMIND website"
      />
    </div>
  </Section>

  <Section id="contact" title="Contact">
    <h3 class="mb-2 text-xl sm:text-2xl">Say hello!</h3>
    <p class="line-through sm:text-lg">
      I'm currently open to new opportunities in Berlin or remote.
    </p>
    <p class="mb-6 sm:text-lg">
      Contact me on
      <a
        class="link"
        href="https://www.linkedin.com/in/florian-strasser/"
        target="_blank"
        rel="noreferrer">LinkedIn</a
      >
      or drop me a line with the button below.
    </p>
    <SendEmailBtn />

    <h3 class="mb-2 text-xl sm:text-2xl">Find me here:</h3>
    <ul class="sm:text-lg">
      {
        [
          {
            link: 'https://www.linkedin.com/in/florian-strasser/',
            icon: 'linkedin',
            text: 'linkedin.com/in/florian-strasser',
          },
          {
            link: 'https://github.com/flostrasser',
            icon: 'github',
            text: 'github.com/flostrasser',
          },
          {
            link: 'https://codepen.io/flostrasser',
            icon: 'codepen',
            text: 'codepen.io/flostrasser',
          },
        ].map(({ link, icon, text }) => (
          <>
            {/* Avoid whitespace before anchor tag */}
            {/* prettier-ignore */}
            <li><a class="link inline-flex items-center" href={link}>
              {icon === 'linkedin' && <IconLinkedIn />}
              {icon === 'github' && <IconGitHub />}
              {icon === 'codepen' && <IconCodepen />}
              <span class="ml-2">{text}</span>
            </a>
          </li>
          </>
        ))
      }
    </ul>
  </Section>
</Layout>
